{% load static %}

<!doctype html>
<html lang="en">
<head>
  <title>Clone Count</title>
  <link rel="stylesheet" href="/static/styles/main.css" type="text/css">
</head>
<body ng-app="gitCloneApp">

    <div class="list" ng-controller="mainCtrl">
        {% block body_content %}
        {% endblock %}
    </div>

  <!-- Angular assets (DONT REMOVE)-->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular-resource.min.js"></script>

  <script src="{% static 'app.js' %}"></script>
  <script src="{% static 'controllers/main.js' %}"></script>
</body>
</html>